
<style> 
    div.size {text-align: center; background:rgb(119, 145, 237); color: white}
    H1{text-align: center;}.h {color:aqua}
    button.a {text-align: center; background:black; color: white;}
</style>
</head> 