div {font-size: 30 ;}
.h{border-style:solid ; text-align:center;color: orange;}
.hhh{text-align:right; background-color: orange; color: white }
.r{color:red} 
.y{background-color: yellow; }
.l{font-size: 100px; color: red }
p.p2 {padding-top:50;text-align: right;}
