div{font-size: 20pt}
.tt{padding-top: 10pt; color:green}
.yc{padding-top: 10pt; color:blue;}
.M {text-align: center; color: red;background-color:rgb(255, 209, 232)}
.text{padding: 50pt;text-align: center; background-color:yellow  ;}
.a {text-align: top;color:blue;} .b {color:red;} .c {color:green;}
.ta{border-style: none none dashed;}
.tb{border-bottom: dashed red;}
