body{font-family: Arial; margin: 30pt;}
.all{background-color:whitesmoke ;text-align: center;padding:150pt;}
.anh {height: 30pt;}

.email {padding: 10pt 60pt 10pt 10pt;}
.done{padding: 10pt 20pt;color:white;background-color: teal; margin-top: 10pt;}