body {font-family: Arial;padding:100pt;}
.first{background-color:gainsboro;text-align: center; padding:100pt;font-size:50pt;color:white;}
.text{opacity: 0.5;}
.more{padding: 10pt 20pt;color:white;background-color: teal; margin-top: 10pt;}